/*
* All css styles used inside oks.intranet.post form view
*/
.oks_intranet_post_form_container {
    display: flex;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.oks_intranet_post_form_container > * {
    flex-basis: 100%;
}

.oks_intranet_post_form_container > span[name="description"] {
    font-size: 1.8em;
    text-align: center;
}

.oks_intranet_post_div {
    align-items: center;
    display: grid;
    justify-content: center;
}

.oks_intranet_post_div > span,
.oks_intranet_post_div > a {
    text-align: center;
    flex-basis: 100%
}

.oks_intranet_post_div.header {
    font-size: 2.5em;
}

.oks_intranet_post_div.details {
    font-size: 1.3em;
}

.oks_intranet_theme_break {
    border-top: 1px solid grey;
    max-width: 75%;
    opacity: 0.2;
}