/*
* All styles associated with oks.intranet.document kanban views
*/
.oks_intranet_doc_kanban_flex {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}

.oks_intranet_doc_kanban {
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 1.3em;
    max-height: 230px;
    overflow: hidden;
}

.oks_intranet_doc_kanban > * {
    flex-basis: 100%;
    max-width: 100%;
}

.oks_intranet_doc_kanban > span {
    margin-left: 5px;
}

/*Title*/
.oks_intranet_doc_kanban > span:nth-child(1) {
    font-weight: bold;
    max-height: 48px; /*Two lines of text*/
    overflow: hidden;
}

/*Description field*/
.oks_intranet_doc_kanban > span:nth-child(4) {
    max-height: 72px;
    overflow: hidden;
}

div.oks_intranet_ext_tag_cont {
    align-self: flex-end;
    align-items: flex-end !important;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
}

.oks_intranet_ext_tag {
    align-items: center;
    border-radius: 10px;
    color: white;
    font-size: 1.2em !important;
    text-align: center;
    margin: 5px;
    width: 50px;
}

.oks_intranet_ext_docx {
    background-color: #2962ff !important;
}

.oks_intranet_ext_doc {
    background-color: #42a5f5 !important;
}

.oks_intranet_ext_xlsx {
    background-color: #00c853 !important;
}

.oks_intranet_ext_xls {
    background-color: #66bb6a !important;
}

.oks_intranet_ext_pptx {
    background-color: #ff3d00 !important;
}

.oks_intranet_ext_ppt {
    background-color: #ff7043 !important;
}

.oks_intranet_ext_pdf {
    background-color: #d50000 !important;
}

/*
* Styles for oks.intranet.photos kanban view
*/
.oks_intranet_photo_kanban_cont {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 32%;
    justify-content: center;
    max-height: 32%;
    max-width: 32%;
    min-height: 400px;
    min-width: 400px;
    width: 32% !important;
}

.oks_intranet_photo_kanban_cont > *,
.oks_intrantet_photo_kanban_details> * {
    flex-basis: 100%
}

.oks_intrantet_photo_kanban_details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

div.oks_intrantet_photo_kanban_details > span {
    font-size: 1.5em;
    text-align: center;
}

div.oks_intranet_phot_kanban_details span:nth-child(1) {
    font-size: 3em;
}

.oks_intranet_photo_kanban_img {
    align-items: center;
    align-self: flex-end;
    display: flex;
    justify-content: center;
}

.oks_intranet_photo_kanban_img > img {
    height: 100%;
    width: 100%;
}