.oks_kanban_post {
    width: 40% !important;
}

.oks_kanban_title {
    font-size: 3.2em;
}

.oks_kanban_info {
    font-size: 2em;
}

.oks_intranet_kanban_img {
    height: auto;
    width: 100%;
}

.oks_intranet_doc_kanban {
    font-size: 1.3em;
}