.oks_intranet_kanban {
    height: 100%;
    justify-content: center !important;
}

.oks_intranet_photo_kanban {
    align-content: flex-start;
}

/*Styles associated with oks.intranet.post kanban views*/
.oks_intranet_post_kanban_cont {
    display: grid !important;
    grid-template-columns: 100%;
    grid-template-rows: 25px auto 1fr;
    flex-basis: 25% !important;
    height: 32%;
    max-width: 23.7%;
}

.oks_intranet_post_kanban_details {
    display: flex;
    grid-row-start: 1;
    grid-row-end: 2;
    flex-wrap: nowrap;
    font-size: 1.1em;
}

.oks_intranet_post_kanban_details > span {
    align-items: center;
    display: flex;
}

.oks_intranet_post_kanban_details > span:nth-child(1) {
    border-radius: 10px;
    color: white;
    padding: 0 10px 0 10px;
    text-align: center;
    width: auto;
}

.oks_intranet_post_kanban_details > span:nth-child(2) {
    margin-left: auto;
}

.oks_intranet_post_kanban_title {
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 1.8em;
}

.oks_intranet_post_kanban_title > hr {
    margin: 0;
    max-width: 75%;
    padding: 0;
    padding-bottom: 5px;
}

.oks_intranet_post_kanban_descrip {
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 1.3em;
    overflow: hidden;
}


@media(min-width: 1850px) {
    .oks_intranet_post_kanban_cont {
        max-width: 24%;
    }
}

@media(min-width: 1410px) and (max-width: 1849px) {
    .oks_intranet_post_kanban_cont {
        max-width: 23.5%;
    }
}

@media(min-width: 1100px) and (max-width: 1410px) {
    .oks_intranet_post_kanban_cont {
        flex-basis: 33%;
        max-width: 32%;
    }
}

@media(min-width:850px) and (max-width: 1150px) {
    .oks_intranet_post_kanban_cont {
        flex-basis: 50% !important;
        max-width: 47%;
    }
}

@media(max-width:850px) {
    .oks_intranet_post_kanban_cont {
        flex-basis: 100% !important;
        max-width: 99%
    }
}

@media(min-height:480px) and (max-height:700px) {
    .oks_intranet_post_kanban_cont {
        height: 50%
    }
}

@media(max-height:480px) {
    .oks_intranet_post_kanban_cont {
        height: 100%;
    }
}


/*
* All styles associated with oks.intranet.document kanban views
*/
.oks_intranet_doc_kanban_flex {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}

.oks_intranet_doc_kanban {
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 1.3em;
    max-height: 230px;
    overflow: hidden;
}

.oks_intranet_doc_kanban > * {
    flex-basis: 100%;
    max-width: 100%;
}

.oks_intranet_doc_kanban > span {
    margin-left: 5px;
}

/*Title*/
.oks_intranet_doc_kanban > span:nth-child(1) {
    font-weight: bold;
    max-height: 48px; /*Two lines of text*/
    overflow: hidden;
}

/*Description field*/
.oks_intranet_doc_kanban > span:nth-child(4) {
    max-height: 72px;
    overflow: hidden;
}

div.oks_intranet_ext_tag_cont {
    align-self: flex-end;
    align-items: flex-end !important;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
}

.oks_intranet_ext_tag {
    align-items: center;
    border-radius: 10px;
    color: white;
    font-size: 1.2em !important;
    text-align: center;
    margin: 5px;
    width: 50px;
}

.oks_intranet_ext_docx {
    background-color: #2962ff !important;
}

.oks_intranet_ext_doc {
    background-color: #42a5f5 !important;
}

.oks_intranet_ext_xlsx {
    background-color: #00c853 !important;
}

.oks_intranet_ext_xls {
    background-color: #66bb6a !important;
}

.oks_intranet_ext_pptx {
    background-color: #ff3d00 !important;
}

.oks_intranet_ext_ppt {
    background-color: #ff7043 !important;
}

.oks_intranet_ext_pdf {
    background-color: #d50000 !important;
}

/*
* Styles for oks.intranet.photos kanban view
*/
.oks_intranet_photo_kanban_cont {
    display: grid !important;
    flex-basis: 33% !important;
    grid-template-columns: 100%;
    grid-template-rows: 20% 60% 20%;
    height: 49%;
    max-width: 32.1%;
    padding: 0 !important;
}

.oks_intranet_photo_kanban_cont:hover > div.oks_intranet_photo_kanban_details {
    display: flex;
}

.oks_intranet_photo_kanban_cont:hover > img.oks_intranet_photo_kanban_img {
    -webkit-filter: brightness(30%);
	-moz-filter: brightness(30%);
	-o-filter: brightness(30%);
	-ms-filter: brightness(30%);
	filter: brightness(30%);
}

.oks_intranet_photo_kanban_details {
    align-content: center;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-content: center;
    position: absolute;
    width: 100%;
}

div.oks_intranet_photo_kanban_details > span {
    font-size: 1.5em;
    flex-basis: 100%;
    text-align: center;
    color: white;
}

div.oks_intranet_photo_kanban_details span:nth-child(1) {
    font-size: 3em;
}

.oks_intranet_photo_kanban_img {
    grid-row-start: 1;
    grid-row-end: 4;
    height: 100%;
    position: absolute;
    width: 100%;
}