/**
* All CSS styles in this file are used ONLY in widgets created by this module.
*/

/* oks_intranet_img_prev */
#oks_intranet_prev_start {
    margin: 0 auto;
    max-width: 200px;
}

#oks_img_btn_div {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

#oks_img_btn_div > button {
    margin: 0px 10px;
}

#oks_intranet_img_div {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#oks_intranet_img_div > p {
    flex-basis: 50%;
    font-size: 1.3em;
    text-align: center;
    margin: 5px;
}

#oks_intranet_img {
    flex-basis: 100%;
    height: auto;
    max-width: 100%;
}
