/**
* All CSS styles in this file are used ONLY in widgets created by this module. Sorry to whoever
edits this module, I know the IDs are very long.
*/

/* oks_intranet_img_prev */
.oks_intranet_prev_cont {
    text-align: center;
}

#oks_intranet_prev_start {
    margin: 0 auto;
    max-width: 200px;
}

#oks_intranet_prev_widget {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

#oks_intranet_prev_container {
    display: grid;
    height: 100%;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 5% 95%;
    width: 100%;
}

#oks_intranet_prev_container > div > button {
    background: none;
    border: none;
    color: white;
    font-size: 10em;
    outline: none;
}

#oks_intranet_prev_close_container {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
    justify-content: flex-end;
}

#oks_intranet_close_prev {
    transform: rotate(45deg);
}

#oks_intranet_prev_back_container {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

#oks_intranet_prev_display {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-items: center;
    padding: 10px 0px;
}

#oks_intranet_prev_name {
    color: white;
    font-size: 2.5em;
    text-align: center;
    margin: auto auto 5px auto;
}

#oks_intranet_prev_img,
#oks_intranet_prev_pdf {
    grid-row-start: 2;
    grid-row-end: 3;
    height: auto;    
    max-height: 100%;
    max-width: 100%;
}

#oks_intranet_prev_pdf {
    border: 0;
    height: 100%;
    width: 100%;
}

#oks_intranet_prev_next_container {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

#oks_intranet_prev_next_container,
#oks_intranet_prev_back_container {
    align-items: center;
    display: flex;
    justify-content: center;
}
